# Created by .ignore support plugin (hsz.mobi)
### JetBrains template
# Covers JetBrains IDEs: IntelliJ, RubyMine, PhpStorm, AppCode, PyCharm, CLion, Android Studio and Webstorm
# Reference: https://intellij-support.jetbrains.com/hc/en-us/articles/206544839

# User-specific stuff:
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/dictionaries

# Sensitive or high-churn files:
.idea/**/dataSources/
.idea/**/dataSources.ids
.idea/**/dataSources.xml
.idea/**/dataSources.local.xml
.idea/**/sqlDataSources.xml
.idea/**/dynamic.xml
.idea/**/uiDesigner.xml

# Gradle:
.idea/**/gradle.xml
.idea/**/libraries

# CMake
cmake-build-debug/

# Mongo Explorer plugin:
.idea/**/mongoSettings.xml



## File-based project format:
*.iws

## Plugin-specific files:

# IntelliJ
out/

# mpeltonen/sbt-idea plugin
.idea_modules/

# JIRA plugin
atlassian-ide-plugin.xml

# Cursive Clojure plugin
.idea/replstate.xml

# Crashlytics plugin (for Android Studio and IntelliJ)
com_crashlytics_export_strings.xml
crashlytics.properties
crashlytics-build.properties
fabric.properties
.idea/inspectionProfiles/
node_modules
node_modules/@angular/common/@angular/common.es5.js.map
node_modules/@angular/common/@angular/common.js.map
node_modules/@angular/common/@angular/common/
node_modules/@angular/common/bundles/common-http-testing.umd.js
node_modules/@angular/common/bundles/common-http-testing.umd.js.map
node_modules/@angular/common/bundles/common-http-testing.umd.min.js
node_modules/@angular/common/bundles/common-http-testing.umd.min.js.map
node_modules/@angular/common/bundles/common-http.umd.js
node_modules/@angular/common/bundles/common-http.umd.js.map
node_modules/@angular/common/bundles/common-http.umd.min.js
node_modules/@angular/common/bundles/common-http.umd.min.js.map
node_modules/@angular/common/bundles/common-testing.umd.js
node_modules/@angular/common/bundles/common-testing.umd.js.map
node_modules/@angular/common/bundles/common-testing.umd.min.js
node_modules/@angular/common/bundles/common-testing.umd.min.js.map
node_modules/@angular/common/bundles/common.umd.js.map
node_modules/@angular/common/bundles/common.umd.min.js
node_modules/@angular/common/bundles/common.umd.min.js.map
node_modules/@angular/common/http/
node_modules/@angular/common/src/
node_modules/@angular/common/testing/
node_modules/@angular/compiler/@angular/compiler.es5.js.map
node_modules/@angular/compiler/@angular/compiler.js.map
node_modules/@angular/compiler/@angular/compiler/
node_modules/@angular/compiler/bundles/compiler-testing.umd.js
node_modules/@angular/compiler/bundles/compiler-testing.umd.js.map
node_modules/@angular/compiler/bundles/compiler-testing.umd.min.js
node_modules/@angular/compiler/bundles/compiler-testing.umd.min.js.map
node_modules/@angular/compiler/bundles/compiler.umd.js.map
node_modules/@angular/compiler/bundles/compiler.umd.min.js
node_modules/@angular/compiler/bundles/compiler.umd.min.js.map
node_modules/@angular/compiler/src/
node_modules/@angular/compiler/testing/
node_modules/@angular/core/@angular/core.es5.js.map
node_modules/@angular/core/@angular/core.js.map
node_modules/@angular/core/@angular/core/
node_modules/@angular/core/bundles/core-testing.umd.js
node_modules/@angular/core/bundles/core-testing.umd.js.map
node_modules/@angular/core/bundles/core-testing.umd.min.js
node_modules/@angular/core/bundles/core-testing.umd.min.js.map
node_modules/@angular/core/bundles/core.umd.js.map
node_modules/@angular/core/bundles/core.umd.min.js
node_modules/@angular/core/bundles/core.umd.min.js.map
node_modules/@angular/core/src/
node_modules/@angular/core/testing/
node_modules/@angular/forms/
node_modules/@angular/http/@angular/http.es5.js.map
node_modules/@angular/http/@angular/http.js.map
node_modules/@angular/http/@angular/http/
node_modules/@angular/http/bundles/http-testing.umd.js
node_modules/@angular/http/bundles/http-testing.umd.js.map
node_modules/@angular/http/bundles/http-testing.umd.min.js
node_modules/@angular/http/bundles/http-testing.umd.min.js.map
node_modules/@angular/http/bundles/http.umd.js.map
node_modules/@angular/http/bundles/http.umd.min.js
node_modules/@angular/http/bundles/http.umd.min.js.map
node_modules/@angular/http/src/
node_modules/@angular/http/testing/
node_modules/@angular/platform-browser-dynamic/@angular/platform-browser-dynamic.es5.js.map
node_modules/@angular/platform-b
rowser-dynamic/@angular/platform-browser-dynamic.js.map
node_modules/@angular/platform-browser-dynamic/@angular/platform-browser-dynamic/
node_modules/@angular/platform-browser-dynamic/bundles/platform-browser-dynamic-testing.umd.js
node_modules/@angular/platform-browser-dynamic/bundles/platform-browser-dynamic-testing.umd.js.map
node_modules/@angular/platform-browser-dynamic/bundles/platform-browser-dynamic-testing.umd.min.js
node_modules/@angular/platform-browser-dynamic/bundles/platform-browser-dynamic-testing.umd.min.js.map
node_modules/@angular/platform-browser-dynamic/bundles/platform-browser-dynamic.umd.js.map
node_modules/@angular/platform-browser-dynamic/bundles/platform-browser-dynamic.umd.min.js
node_modules/@angular/platform-browser-dynamic/bundles/platform-browser-dynamic.umd.min.js.map
node_modules/@angular/platform-browser-dynamic/src/
node_modules/@angular/platform-browser-dynamic/testing/
node_modules/@angular/platform-browser/@angular/platform-browser.es5.js.map
node_modules/@angular/platform-browser/@angular/platform-browser.js.map
node_modules/@angular/platform-browser/@angular/platform-browser/
node_modules/@angular/platform-browser/animations/
node_modules/@angular/platform-browser/bundles/platform-browser-animations.umd.js
node_modules/@angular/platform-browser/bundles/platform-browser-animations.umd.js.map
node_modules/@angular/platform-browser/bundles/platform-browser-animations.umd.min.js
node_modules/@angular/platform-browser/bundles/platform-browser-animations.umd.min.js.map
node_modules/@angular/platform-browser/bundles/platform-browser-testing.umd.js
node_modules/@angular/platform-browser/bundles/platform-browser-testing.umd.js.map
node_modules/@angular/platform-browser/bundles/platform-browser-testing.umd.min.js
node_modules/@angular/platform-browser/bundles/platform-browser-testing.umd.min.js.map
node_modules/@angular/platform-browser/bundles/platform-browser.umd.js.map
node_modules/@angular/platform-browser/bundles/platform-browser.umd.min.js
node_modules/@angular/platform-browser/bundles/platform-browser.umd.min.js.map
node_modules/@angular/platform-browser/src/
node_modules/@angular/platform-browser/testing/
node_modules/@angular/router/@angular/router.es5.js.map
node_modules/@angular/router/@angular/router.js.map
node_modules/@angular/router/@angular/router/
node_modules/@angular/router/bundles/router-testing.umd.js
node_modules/@angular/router/bundles/router-testing.umd.js.map
node_modules/@angular/router/bundles/router-testing.umd.min.js
node_modules/@angular/router/bundles/router-testing.umd.min.js.map
node_modules/@angular/router/bundles/router-upgrade.umd.js
node_modules/@angular/router/bundles/router-upgrade.umd.js.map
node_modules/@angular/router/bundles/router-upgrade.umd.min.js
node_modules/@angular/router/bundles/router-upgrade.umd.min.js.map
node_modules/@angular/router/bundles/router.umd.js.map
node_modules/@angular/router/bundles/router.umd.min.js
node_modules/@angular/router/bundles/router.umd.min.js.map
node_modules/@angular/router/src/
node_modules/@angular/router/testing/
node_modules/@angular/router/upgrade/
node_modules/@types/q/
node_modules/@types/selenium-webdriver/
node_modules/concurrently/docs/
node_modules/concurrently/src/
node_modules/core-js/build/
node_modules/core-js/client/
node_modules/core-js/core/
node_modules/core-js/es5/
node_modules/core-js/es6/
node_modules/c
ore-js/es7/
node_modules/core-js/fn/
node_modules/core-js/library/
node_modules/core-js/modules/
node_modules/core-js/stage/
node_modules/core-js/web/
node_modules/jasmine-core/images/
node_modules/jasmine-core/jasmine_core.egg-info/
node_modules/jasmine-core/lib/
node_modules/karma-chrome-launcher/examples/
node_modules/karma-cli/bin/
node_modules/karma-cli/lib/
node_modules/karma-jasmine-html-reporter/screenshots/
node_modules/karma-jasmine-html-reporter/src/
node_modules/karma-jasmine/lib/
node_modules/karma/bin/
node_modules/karma/common/
node_modules/karma/context/
node_modules/karma/lib/
node_modules/karma/scripts/
node_modules/karma/static/
node_modules/lite-server/bin/
node_modules/lite-server/lib/
node_modules/lodash/fp/
node_modules/protractor/bin/
node_modules/protractor/built/
node_modules/protractor/example/
node_modules/protractor/exampleTypescript/
node_modules/rxjs/Subject.js.map
node_modules/rxjs/SubjectSubscription.d.ts
node_modules/rxjs/add/
node_modules/rxjs/bundles/
node_modules/rxjs/operator/audit.d.ts
node_modules/rxjs/operator/audit.js
node_modules/rxjs/operator/audit.js.map
node_modules/rxjs/operator/buffer.js
node_modules/rxjs/operator/buffer.js.map
node_modules/rxjs/operator/bufferTime.js.map
node_modules/rxjs/operator/bufferToggle.js
node_modules/rxjs/operator/bufferWhen.d.ts
node_modules/rxjs/operator/catch.d.ts
node_modules/rxjs/operator/combineAll.js
node_modules/rxjs/operator/combineAll.js.map
node_modules/rxjs/operator/combineLatest.d.ts
node_modules/rxjs/operator/combineLatest.js
node_modules/rxjs/operator/combineLatest.js.map
node_modules/rxjs/operator/concat.js
node_modules/rxjs/operator/concat.js.map
node_modules/rxjs/operator/concatAll.d.ts
node_modules/rxjs/operator/concatAll.js
node_modules/rxjs/operator/concatAll.js.map
node_modules/rxjs/operator/concatMap.d.ts
node_modules/rxjs/operator/concatMap.js.map
node_modules/rxjs/operator/concatMapTo.d.ts
node_modules/rxjs/operator/concatMapTo.js.map
node_modules/rxjs/operator/count.d.ts
node_modules/rxjs/operator/count.js.map
node_modules/rxjs/operator/debounce.d.ts
node_modules/rxjs/operator/debounce.js
node_modules/rxjs/operator/debounceTime.d.ts
node_modules/rxjs/operator/debounceTime.js
node_modules/rxjs/operator/defaultIfEmpty.d.ts
node_modules/rxjs/operator/delay.d.ts
node_modules/rxjs/operator/delay.js.map
node_modules/rxjs/operator/delayWhen.d.ts
node_modules/rxjs/operator/delayWhen.js
node_modules/rxjs/operator/delayWhen.js.map
node_modules/rxjs/operator/dematerialize.d.ts
node_modules/rxjs/operator/dematerialize.js
node_modules/rxjs/operator/distinct.d.ts
node_modules/rxjs/operator/distinctUntilChanged.d.ts
node_modules/rxjs/operator/distinctUntilChanged.js
node_modules/rxjs/operator/distinctUntilKeyChanged.d.ts
node_modules/rxjs/operator/distinctUntilKeyChanged.js.map
node_modules/rxjs/operator/do.js
node_modules/rxjs/operator/every.js
node_modules/rxjs/operator/exhaust.d.ts
node_modules/rxjs/operator/exhaustMap.js
node_modules/rxjs/operator/expand.d.ts
node_modules/rxjs/operator/expand.js
node_modules/rxjs
/operator/filter.d.ts
node_modules/rxjs/operator/filter.js
node_modules/rxjs/operator/finally.d.ts
node_modules/rxjs/operator/finally.js
node_modules/rxjs/operator/find.js
node_modules/rxjs/operator/find.js.map
node_modules/rxjs/operator/findIndex.d.ts
node_modules/rxjs/operator/first.js
node_modules/rxjs/operator/first.js.map
node_modules/rxjs/operator/groupBy.d.ts
node_modules/rxjs/operator/ignoreElements.js.map
node_modules/rxjs/operator/isEmpty.d.ts
node_modules/rxjs/operator/isEmpty.js
node_modules/rxjs/operator/last.js
node_modules/rxjs/operator/last.js.map
node_modules/rxjs/operator/let.d.ts
node_modules/rxjs/operator/let.js.map
node_modules/rxjs/operator/map.d.ts
node_modules/rxjs/operator/map.js
node_modules/rxjs/operator/map.js.map
node_modules/rxjs/operator/materialize.js
node_modules/rxjs/operator/max.js.map
node_modules/rxjs/operator/merge.d.ts
node_modules/rxjs/operator/merge.js
node_modules/rxjs/operator/merge.js.map
node_modules/rxjs/operator/mergeMap.d.ts
node_modules/rxjs/operator/mergeMapTo.js
node_modules/rxjs/operator/mergeScan.d.ts
node_modules/rxjs/operator/min.js.map
node_modules/rxjs/operator/multicast.d.ts
node_modules/rxjs/operator/observeOn.js.map
node_modules/rxjs/operator/onErrorResumeNext.js
node_modules/rxjs/operator/onErrorResumeNext.js.map
node_modules/rxjs/operator/pairwise.d.ts
node_modules/rxjs/operator/pairwise.js
node_modules/rxjs/operator/partition.d.ts
node_modules/rxjs/operator/partition.js.map
node_modules/rxjs/operator/pluck.d.ts
node_modules/rxjs/operator/pluck.js
node_modules/rxjs/operator/publish.js
node_modules/rxjs/operator/publish.js.map
node_modules/rxjs/operator/publishBehavior.d.ts
node_modules/rxjs/operator/publishLast.d.ts
node_modules/rxjs/operator/publishLast.js.map
node_modules/rxjs/operator/publishReplay.js
node_modules/rxjs/operator/race.js
node_modules/rxjs/operator/race.js.map
node_modules/rxjs/operator/reduce.d.ts
node_modules/rxjs/operator/repeat.d.ts
node_modules/rxjs/operator/repeat.js
node_modules/rxjs/operator/repeatWhen.js.map
node_modules/rxjs/operator/retry.d.ts
node_modules/rxjs/operator/retry.js.map
node_modules/rxjs/operator/retryWhen.js.map
node_modules/rxjs/operator/sample.d.ts
node_modules/rxjs/operator/sample.js
node_modules/rxjs/operator/sampleTime.d.ts
node_modules/rxjs/operator/sampleTime.js.map
node_modules/rxjs/operator/sequenceEqual.js
node_modules/rxjs/operator/share.d.ts
node_modules/rxjs/operator/share.js
node_modules/rxjs/operator/share.js.map
node_modules/rxjs/operator/single.d.ts
node_modules/rxjs/operator/single.js
node_modules/rxjs/operator/single.js.map
node_modules/rxjs/operator/skip.js.map
node_modules/rxjs/operator/skipWhile.d.ts
node_modules/rxjs/operator/startWith.d.ts
node_modules/rxjs/operator/startWith.js
node_modules/rxjs/operator/subscribeOn.d.ts
node_modules/rxjs/operator/subscribeOn.js
node_modules/rxjs/operator/switch.d.ts
node_modules/rxjs/operator/switch.js
node_modules/rxjs/operator/switchMap.js.map
node_modules/rxjs/operator/switchMapTo.d.ts
node_modules/rxjs/operator/switchMapTo.js.map
node_modules/rxjs/operator/take.js.map
node_m
odules/rxjs/operator/takeUntil.d.ts
node_modules/rxjs/operator/takeUntil.js
node_modules/rxjs/operator/throttle.d.ts
node_modules/rxjs/operator/throttle.js
node_modules/rxjs/operator/throttle.js.map
node_modules/rxjs/operator/throttleTime.js.map
node_modules/rxjs/operator/timeout.js.map
node_modules/rxjs/operator/timeoutWith.js
node_modules/rxjs/operator/toArray.d.ts
node_modules/rxjs/operator/toPromise.d.ts
node_modules/rxjs/operator/toPromise.js
node_modules/rxjs/operator/toPromise.js.map
node_modules/rxjs/operator/window.d.ts
node_modules/rxjs/operator/windowCount.d.ts
node_modules/rxjs/operator/windowCount.js
node_modules/rxjs/operator/windowTime.d.ts
node_modules/rxjs/operator/windowTime.js
node_modules/rxjs/operator/windowTime.js.map
node_modules/rxjs/operator/windowWhen.js
node_modules/rxjs/operator/withLatestFrom.d.ts
node_modules/rxjs/operator/withLatestFrom.js
node_modules/rxjs/operator/withLatestFrom.js.map
node_modules/rxjs/operator/zip.js.map
node_modules/rxjs/operator/zipAll.js
node_modules/rxjs/package.json
node_modules/rxjs/src/
node_modules/rxjs/symbol/
node_modules/rxjs/testing/
node_modules/rxjs/util/
node_modules/systemjs/dist/
node_modules/tslint/
node_modules/typescript/package.json
node_modules/zone.js/dist/
node_modules/zone.js/lib/
